{% include list_customer.html %}
{% if customer.has_previous %}
    <a href="?page={{ customers.previous_page_number }}">Previous</a>
    {% else %}
    <a >Previous</a>
{% endif %}

{% for i in customer.pagination.page_range %}
    {% if customer.number == i %}
    <a href="#">{{ i }}</a>
    {% else %}
    <a href="?page={{ i }}">{{ i }}</a>
    {% endif %}
{% endfor %}

{% if customer.has_next %}
    <a href="?page={{ customers.previous_page_number }}">Next</a>
    {% else %}
    <a >Next</a>
{% endif %}