{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'asigm_1_tapp/style.css' %}">
{% if person_list_all %}
    <ul>
        {% for person in person_list_all %}
            <li>
                <a href="detail/{{person.id}}">
                    <!-- muốn in ra như thế nào thì dùng thuộc tính vào đấy vd persion_id -->
                    {{ person.persion_name }} 
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No person are available.</p>
{% endif %}